Packages:
sway-git
wlroots-hidpi-xprop-git
fzf
alacritty
bemenu
bemenu-wayland
j4-dmenu-desktop
swayidle
swaylock-effects-git
i3status-rust
mako-git
iwgtk
qt5-wayland
qt6-wayland
qt
lxqt
pcmanfm-qt
pavucontrol
papirus-icon-theme
otf-minecraft
polkit-gnome
gnome-keyring
networkd-notify-git
ydotool-git
playerctl
lm_sensors
wlsunset-git
ipgeo-git
xorg-xwayland-hidpi-xprop
xorg-xprop
xorg-xrdb
xsettingsd
googledot-cursor-theme
grim
wl-clipboard
slurp
swappy
xdg-desktop-portal
xdg-desktop-portal-wlr
xdg-desktop-portal-lxqt
xdg-desktop-portal-gtk
firefox-nightly-zh-tw
telegram-desktop-megumifox
nheko-git
htop
asusctl
flatpak

Services:
systemd --user: ydotool.service
