Packages:
dialog
alacritty
bemenu
bemenu-wayland
j4-dmenu-desktop
swayidle
swaylock-effects-git
i3status-rust
mako
qt5-wayland
qt6-wayland
qt
polkit-gnome
gnome-keyring
networkd-notify-git
playerctl
lm_sensors
xorg-xwayland
graphite-cursor-theme-git
flameshot
grim
xdg-desktop-portal
xdg-desktop-portal-wlr
firefox-nightly-zh-tw
telegram-desktop-megumifox
htop
asusctl
