Packages:
dialog
alacritty
bemenu
j4-dmenu-desktop
swayidle
swaylock-effects(-git)
i3status-rust
mako
qt5-wayland
qt6-wayland
qt
polkit-gnome
gnome-keyring
playerctl
lm_sensors
xorg-xwayland
graphite-cursor-theme-git
flameshot
grim
xdg-desktop-portal
xdg-desktop-portal-wlr
firefox
telegram-desktop-megumifox
