[color]
    ui = auto

[core]
    autocrlf = input

[fetch]
    prune = true

[pull]
    rebase = false

[credential]
    helper = store

[http]
    proxy = http://127.0.0.1:8118

[submodule]
    recurse = true
