[user]
    name = Mike Yuan
    email = me@yhndnzj.com
    signingkey = 22269415549E1602E06DC0716F4C5AF537D3C301

[color]
    ui = auto

[core]
    autocrlf = input

[http]
    proxy = http://127.0.0.1:8118
    postBuffer = 1048576000

[commit]
    gpgsign = true

[pull]
    rebase = true

[push]
    followTags = true
    autoSetupRemote = true

[rebase]
    autosquash = true

[merge]
    log = true

[submodule]
    recurse = true
