[user]
    name = Mike Yuan
    email = me@yhndnzj.com
    signingkey = 8BA0CFCBBC7B196AF0F4C6943DC99CD82A711C5A

[commit]
    gpgsign = true

[color]
    ui = auto

[core]
    autocrlf = input

[pull]
    rebase = true

[push]
    followTags = true
    autoSetupRemote = true

[http]
    proxy = http://127.0.0.1:8118
    postBuffer = 1048576000
