[Unit]
Description=MPRIS support for mpd
Documentation=https://github.com/eonpatapon/mpDris2
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/mpDris2
Restart=always

[Install]
WantedBy=default.target
