[submodule "vim/dot-vim/pack/fcitx/start/fcitx.vim"]
	path = vim/dot-vim/pack/fcitx/start/fcitx.vim
	url = https://github.com/lilydjwg/fcitx.vim.git
[submodule "vim/dot-vim/pack/editorconfig-vim/start/editorconfig-vim"]
	path = vim/dot-vim/pack/editorconfig-vim/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/dot-vim/pack/git-blame/start/git-blame.vim"]
	path = vim/dot-vim/pack/git-blame/start/git-blame.vim
	url = https://github.com/zivyangll/git-blame.vim.git
