[submodule "vim/.vim/pack/fcitx/start/fcitx.vim"]
	path = vim/.vim/pack/fcitx/start/fcitx.vim
	url = https://github.com/lilydjwg/fcitx.vim.git
[submodule "vim/.vim/pack/fix-vim-pasting/start/fix-vim-pasting"]
	path = vim/.vim/pack/fix-vim-pasting/start/fix-vim-pasting
	url = https://github.com/ryanpcmcquen/fix-vim-pasting.git
