[Unit]
Description=(Neo)Mutt on screen

[Service]
Type=forking
Environment=http_proxy=http://127.0.0.1:8118
Environment=https_proxy=http://127.0.0.1:8118
ExecStart=/usr/bin/screen -dmS mutt neomutt
ExecStop=/usr/bin/screen -S mutt -X quit
TimeoutStopSec=5
Restart=always

[Install]
WantedBy=default.target
