[Unit]
Description=Pull dotfiles repo automatically
Documentation=https://github.com/YHNdnzj/dotfiles

[Service]
WorkingDirectory=%h/dotfiles
ExecCondition=/usr/lib/systemd/systemd-networkd-wait-online --timeout=30 --quiet
ExecStart=/usr/bin/git pull
Restart=on-failure
RestartSec=20

[Install]
WantedBy=default.target
