[Unit]
Description=Pull dotfiles repo automatically
Documentation=https://github.com/YHNdnzj/dotfiles
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=%h/dotfiles
ExecStart=/usr/bin/git pull
Restart=on-failure
RestartSec=20

[Install]
WantedBy=default.target
