[Desktop Entry]
Type=Application
Name=Mutt
Comment=Mutt is a text-based mail client renowned for its powerful features.
TryExec=konsole
Exec=bash -c 'mkdir "$HOME/Downloads/mutt" && exec konsole -e mutt --workdir "$HOME/Downloads/mutt"'
Icon=internet-mail
Terminal=false
Categories=Network;Email;
