[Unit]
Description=Wait until we're connected to the Internet

[Service]
Type=notify
ExecStart=/usr/bin/check-online

[Install]
WantedBy=network-online.target
